@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 229, 170);
    font-family: 'Amarante', cursive;
}

header {
    position: absolute;        /* Posiciona a div em rela칞칚o ao body */
    top: 0;                    /* Fixa a div ao topo da p치gina */
    left: 0;                   /* Fixa a div  esquerda da p치gina */
    background-color: black;
    width: 100%;
    height: 200px; 

}

h1 {
    color: white;
    text-align: center;
    font-size: 4em;
}

#Paragrafo-Autor {
    color: white;
    position: absolute;
    top:110px;
    right: 45%;
    font-size: 1.2em;
    text-align: center;
}

main {
    margin-top: 250px;
    text-indent: 40px;
    font-size: 25px;
}

#Girassol {
    background-image: url('imagens/Girasol\ 游꺝.jpeg');
    border: 2px solid black;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    background-attachment:fixed;
    height: 93vh;
    border-radius: 10px;
    background-color: bisque;
    text-indent: 10px;
}

#Paragrafo-Girassol {
    color: rgb(255, 255, 255);                          /* Define a cor do texto */
    font-size: 1.8rem;                           /* Ajusta o tamanho da fonte conforme necess치rio */
    margin: 100px 0 0 0;                         /* Define a margem superior para afastar o texto da parte superior da div */
    padding: 10px 20px;                         /* Adiciona espa칞o interno ao texto */
    background-color: rgba(0, 0, 0, 0.5);       /* Fundo escuro com opacidade */
    border-radius: 10px;                        /* Bordas arredondadas para o fundo do texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);   /* Sombra ao redor da caixa de fundo */
    display: inline-block;                      /* Faz com que a caixa de fundo ajuste ao tamanho do texto */
    position: relative;                         /* Permite o ajuste da posi칞칚o relativa */
    top: -60px;                                 /* Ajusta a posi칞칚o para cima */
  
}

#Terceira {
    position: relative;
    top: 40px;
    margin-bottom: 100px;
}

#Livros {
    background-image: url('imagens/Happy\ book\ day\ -\ clipart\ image.jpeg');
    border: 2px solid black;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    background-attachment:fixed;
    height: 93vh;
    border-radius: 10px;
    background-color: bisque;
    text-indent: 10px;
}

#Paragrafo-Livros {
    color: rgb(255, 255, 255);                          /* Define a cor do texto */
    font-size: 1.8rem;                           /* Ajusta o tamanho da fonte conforme necess치rio */
    margin: 100px 0 0 0;                         /* Define a margem superior para afastar o texto da parte superior da div */
    padding: 10px 20px;                         /* Adiciona espa칞o interno ao texto */
    background-color: rgba(0, 0, 0, 0.5);       /* Fundo escuro com opacidade */
    border-radius: 10px;                        /* Bordas arredondadas para o fundo do texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);   /* Sombra ao redor da caixa de fundo */
    display: inline-block;                      /* Faz com que a caixa de fundo ajuste ao tamanho do texto */
    position: relative;                         /* Permite o ajuste da posi칞칚o relativa */
    top: -60px;                                 /* Ajusta a posi칞칚o para cima */

}

#Quinta {
    position: relative;
    top: 40px;
}

#Sexta {
    position: relative;
    top: 100px;
}

footer {
    position: relative;
    top: 150px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
}

@media (max-width: 767px) { 

    
    
    } 

.highlight-link {
    color: rgb(255, 255, 255); /* Cor do texto inicial */
    text-decoration: none; /* Remove a sublinha padr칚o */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Transi칞칚o suave */
}

.highlight-link:hover {
    color: rgb(77, 53, 3); /* Muda a cor do texto ao passar o mouse */
    text-decoration: underline; /* Adiciona sublinha ao passar o mouse */
    cursor: pointer; /* Mostra o cursor de clique */
}